### Markdown Basicss
* **Bold** <br>
* *Italic* <br>
* ***IB** <br>
* Normal Text
    * Sublist 1
    * Sublist 2 
    
    
1. Ordered list element 1 
2. Ordered list element 2



- [] option 1
- [] option 2
- [x] option 3


[Jupyter logo](logo.png)

![jupyter Logo](logo.png)
> <img src ="logo.png" width="20px" height="20px" style="float:left">

`printf("haripriya")`

<https://google.com>

<haripriyamanne4@gmail.com>

### Python Basics

Python version 3.7

Scripting
Object oriented

In [8]:
# python Comments

print("Hello world","!",end="||")  # Basic Output
print("Hello Python")

Hello world !||Hello Python

### Assignment

In [14]:
n1 = 123456 # Single Variable Assignment

n2 = n3 = n4 = n1 # Multi variable Assignment of same valuw

a, b, c = 123, 234, 345 # Multi variable Assignment with different value

print(a, b, c)

123 234 345

### Data Types & Conversion
- int
- float
- string

In [35]:
type(a)
s1 = "Python"
type(s1)

f1 = 12.345
type(f1)

float(str(int(f1)))
float(a)

123.0

### Arithmetic Operations
- +
- -
- %
- *
- /
- **

In [39]:
n1 % 11

n3 = n2 ** 12333

type(n3)
len(str(n3))
n3
atoms = 10 ** 82
len(str(atoms))
atoms
type(str(atoms))

12.2321 ** 9

6130687873.308031

### Conditionals

In [42]:
if atoms < 10 ** 9:
    print("TRUE")
else:
    print("FALSE")

FALSE

In [45]:
True < False

False

In [46]:
# Check if a number is even

n = 123
if n % 2 ==0:
    print("Even")
else:
    print("Odd")

Odd

In [1]:
### Find the greatest of 3 numbers

n1 = int(input("Enter the first number"))
n2 = int(input("Enter the second number"))
n3 = int(input("Enter the third number"))

if n1>n2 and n1>n3:
    print(n1,"is the greatest")
elif n2>n3:
    print(n2,"is the greatest")
else:
    print(n3,"is the greatest")

Enter the first number123
Enter the second number23
Enter the third number43
123 is the greatest

In [11]:
# Check if a year is a Leap Year

n = int(input("Enter the year"))
if (n %400==0 or(n%100!=0 and n%4==0)):
    print("it is a leap year")
else:
    print("it is not a leap year")

Enter the year2000
it is a leap year

In [1]:
### Check if a number exists in given range

#lb = 50
#ub = 100
#n = 30

lb = int(input("Enter LB"))
ub = int(input("Enter UB"))
n = int(input("Enter n"))
if(n>=lb and n<=ub):
    print("yes")
else:
    print("no")

Enter LB20
Enter UB100
Enter n34
yes

In [ ]:
# Calculate the number of digits in a number
n = int(input("Enter n value"))

In [6]:
# Check if a number is multiple of 10

n = int(input("Enter a number"))
if n%10==0:
    print("yes")
else:
    print("no")

Enter a number27
no

In [6]:
# Check if a number is a factor of 1000
a = int(input("Enter a value"))
if 1000%a==0:
     print("yes")
else:
    print("no")

Enter a value400
no

In [8]:
# Check if given string is equal to a number
s1 = "12345"
n = 12345
if (str(n)== s1):
    print(n,"is equal",s1)
else:
     print(n,"is not equal",s1)

12345 is equal 12345

In [12]:
# Calculate the square root of a number without functions
n1 = 123
n1 ** 0.5

11.090536506409418

In [14]:
# Calculate the number of nano seconds in a 
#given year(considering leap year logic)
n = 2016
if (n %400==0 or(n%100!=0 and n%4==0)):
    print(366*24*60*(10**9))
else:
    print(365*24*60*60*(10**9))

51840000000000