In [5]:
name="Hari@#$%Priya@123456"
print(name)
type(name)

Hari@#$%Priya@123456

str

In [11]:
name="Training"
name[0:3]

'Tra'

In [35]:
place="Hyderabad"
place[1:2]
print(place[::-1])

dabaredyH

In [36]:
Language="Python"
print(Language[2])
print(Language[2:4])
print(Language[::-3])
print(Language[::2])

t
th
nt
Pto

In [61]:
s="Python"
print(s[0:2])
print(s[-5])
print(s[4:])
print(s[1:5])
print(s[1:6])
print(s[1:])
print(s[3])
print(s[::-1])
print(s[-1:-2])

Py
y
on
ytho
ython
ython
h
nohtyP

In [69]:
print(s[-1:-3:-1])
print(s[-1:-5:-1])
print(s[1:3])

no
noht
yt

In [76]:
s1="python"
print(s[::-2])
print(s[-1::-2])
print(s[-2::-3])

nhy
nhy
oy

In [80]:
name="pyhton"
print(s[::-2])
print(s[-2::-4])

nhy
oP

In [94]:
name="Naveen Praveen Sulthana ! dhaneesha harsha ayesha"
s1=name.split()
s1

['Naveen', 'Praveen', 'Sulthana', '!', 'dhaneesha', 'harsha', 'ayesha']

In [98]:
names="Hari Manne"
s1=names.split()
s2="@".join(s1)
s2

'Hari@Manne'

In [99]:
names="Praveen Naveen"
n1=names.split()
n2="#".join(n1)
n2

'Praveen#Naveen'

In [100]:
names="Praveen Naveen"
s1=names.isupper()
s1

False

In [102]:
names="praveen naveen"
s1=names.islower()
s1

True

In [104]:
names="praveen naveen"
s1=names.upper()
s1

'PRAVEEN NAVEEN'

In [105]:
names="PRAVEEN NAVEEN"
s1=names.lower()
s1

'praveen naveen'

In [106]:
names="PRAVEEN NAVEEN"
s1=names.count("E")
s1

4

In [107]:
names="PRAVEEN NAVEEN"
s1=names.count("N")
s1

3

In [108]:
len(names)

14