In [1]:
import pandas as pd

In [6]:
res=pd.Series([3,6,7,8,1,7,1,2,3,4,5,6,7,8])
print(res)
print(type(res))

0     3
1     6
2     7
3     8
4     1
5     7
6     1
7     2
8     3
9     4
10    5
11    6
12    7
13    8
dtype: int64
<class 'pandas.core.series.Series'>

In [9]:
output=pd.Series(['a','b','c'])
print(output)

0    a
1    b
2    c
dtype: object

In [14]:
result=pd.Series([2,6,7,8])
print(result)
#print(result[2])
print(result[2:])

0    2
1    6
2    7
3    8
dtype: int64
2    7
3    8
dtype: int64

In [35]:
pd.Series([8,9,3],index=['w','d','c'])

w    8
d    9
c    3
dtype: int64

In [20]:
pd.Series([22,23,24],index=pd.date_range('22-11-2019','24-11-2019'))

2019-11-22    22
2019-11-23    23
2019-11-24    24
Freq: D, dtype: int64

In [38]:
pd.Series([22,23],index=pd.date('22-11-2019','24-11-2019'))

AttributeError: module 'pandas' has no attribute 'date'

In [22]:
import pandas as pd
import numpy as  np
pd.Series(np.array(range(0,10))**2,index=range(0,10))

0     0
1     1
2     4
3     9
4    16
5    25
6    36
7    49
8    64
9    81
dtype: int32

In [26]:
internal1={'s1':21,'s2':23,'s3':27}
print(type(internal1))
internal1=pd.Series(internal1)
print(internal1)
internal2={'s1':45,'s2':43,'s3':47}
internal2=pd.Series(internal2)
print(internal2)

<class 'dict'>
s1    21
s2    23
s3    27
dtype: int64
s1    45
s2    43
s3    47
dtype: int64

In [32]:
finalmarks={'Internal1':internal1,'Internal2':internal2}
finalmarks=pd.DataFrame(finalmarks)
finalmarks

    Internal1  Internal2
s1         21         45
s2         23         43
s3         27         47

In [34]:
table=pd.DataFrame({'Name':['Sultha','Naveen'],'Age':[22,23],'Occupation':['Housewife','Studnet']})
table

     Name  Age Occupation
0  Sultha   22  Housewife
1  Naveen   23    Studnet