In [3]:
t1=()
print(t1)
print(type(t1))

()
<class 'tuple'>

In [6]:
tuple1=(1,2,3,4)
print(tuple1)

(1, 2, 3, 4)

In [9]:
tuple2=(1,8,'Python',1,'Python')
print(tuple2)

(1, 8, 'Python', 1, 'Python')

In [10]:
print(len(tuple2))

5

In [14]:
t2=('python',)
print(t2)
print(type(t2))

('python',)
<class 'tuple'>

In [17]:
s1=("hari")
type(s1)

str

In [19]:
names=tuple(("hari",'priya','manne'))
type(names)

tuple

In [23]:
tuple2=(1,8,'Python',1,'Python',2)
tuple2.index(2)

5

In [24]:
tuple2.count(1)

2

In [26]:
t6=("hari","priya","Manne","chanti","praveen","Ayesha")
print(t6[1])

priya

In [27]:
print(t6[-1])

Manne

In [28]:
t6=("hari","priya","Manne","chanti","praveen","Ayesha")
print(t6)

('hari', 'priya', 'Manne', 'chanti', 'praveen', 'Ayesha')

In [30]:
print(t6[2:6])

('Manne', 'chanti', 'praveen', 'Ayesha')

In [32]:
print(t6[-3])

chanti

In [39]:
t1=("hari","priya","Manne")
l1=list(t1)
type(l1)
l1[1]="sulthana"
t1=tuple(l1)
print(t1)

('hari', 'sulthana', 'Manne')

In [43]:
t1=("hari","priya","Manne")

In [44]:
l1=list(t1)
l1.append("sulthana")
t1=tuple(l1)
print(t1)

('hari', 'priya', 'Manne', 'sulthana')

In [51]:
t1=("hari","priya","Manne")
l1=list(t1)
l1.insert(1,"Ayesha")
t1=tuple(l1)

In [52]:
print(t1)

('hari', 'Ayesha', 'priya', 'Manne')

In [53]:
del t1

In [54]:
t1

NameError: name 't1' is not defined

In [56]:
t1=("hari","priya","Manne")
for i in t1:
    print(i)

hari
priya
Manne

In [57]:
t1=("hari","priya","Manne")
for i in range(len(t1)):
    print(t1[i])

hari
priya
Manne

In [58]:
t1=("hari","priya","Manne")
i=0
while i<len(t1):
    print(t1[i])
    i=i+1

hari
priya
Manne

In [60]:
t1=(1,2,3)
t2=("q","w","e")
t3=t1+t2
print(t3)

(1, 2, 3, 'q', 'w', 'e')

In [62]:
names=('hari','priya','manne')
finalnames=names*5
print(finalnames)

('hari', 'priya', 'manne', 'hari', 'priya', 'manne', 'hari', 'priya', 'manne', 'hari', 'priya', 'manne', 'hari', 'priya', 'manne')

In [63]:
t6=('p','y','t','h','o','n')

In [64]:
print(t6)

('p', 'y', 't', 'h', 'o', 'n')

In [65]:
t6=('p','y','t','h','o','n')
string=''.join(t6)

In [68]:
print(string)
print(type(string))

python
<class 'str'>

In [69]:
type(t6)

tuple